body{
    background: #0099ff;
}
.ftxt{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #006666;
    padding-left: 10px;
    border-radius: 5px;
    
}
.fbtn{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #009900;
    background: #009900;
    color: aliceblue;
    padding-left: 10px;
    border-radius: 5px;
}
.lbl{
    color: #330033;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
.ftxtarea{
    width: 100%;
    height: 100px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #006666;
}